<html lang="en">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
        function showAllPosts(topic) {
            // TODO: implement
        }
    </script>
    <h1>Welcome <%= username %>!</h1>
    <p>Subscriptions:</p>
    <%
    for(const [topicName, posts] of Object.entries(postsDict)) {
        console.log('key ' + topicName);
        console.log('value ' + posts);
    %>
    <h3>Topic: <%=topicName%></h3>
    <%
        for(let i in posts) {
            if(i >= 3) {
                break;
            }
            let post = posts[i];
    %>
    <h5>Post Title: <%=post.title%></h5>
    <p>Post text: <%=post.text%></p>
    <a href="/topics/full_post/?post_id=<%=post._id%>" id="full_post_<%=post._id%>">See full posting</a>
    <br>
    <%
        }
    %>
    <br>
    <a href="#" id="view_topic_<%=topicName%>" onclick="showAllPosts(<%=posts%>)">Show More Posts for Topic: <%=topicName%></a>
    <%
    }
    %>
    <br>
    <a href="/create_post" id="createPostLink">Create New Post</a>
    <br>
    <a href="/edit_subscriptions" id="editSubscriptionsLink">Edit Subscriptions</a>
</html>