<html lang="en">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
        let postsDictionary = <%- JSON.stringify(postsDict) %>;
        function showAllPosts(topicDiv) {
            console.log(topicDiv);
            let topicName = topicDiv.id;
            let div = document.getElementById(topicName);
            document.getElementById('view_topic_' + topicName).remove();
            // TODO: test
            // https://stackoverflow.com/questions/41843654/how-to-render-html-in-string-with-javascript
            let topicPosts = postsDictionary[topicName];
            for(let i in topicPosts) {
                if(i < 3) {
                    continue;
                }
                let post = topicPosts[i];
                let title = post.title;
                let text = post.text;
                let _id = post._id;
                // https://stackoverflow.com/questions/7790811/how-do-i-put-variables-inside-javascript-strings
                let postDiv =
                    `<div style=\"line-height:.2; margin-left: 50px;\">\n` +
                    `   <h5><i>Post Title: </i>${ title }</h5>\n` +
                    `   <p><i>Post text: </i>${ text }</p>\n` +
                    `   <a href=\"/full_post/?topic=${ topicName }&post_id=${ _id }\" id=\"full_post_${ _id }\">See full posting</a>\n` +
                    `   <h5>---</h5>\n` +
                    `</div>`;
                // https://stackoverflow.com/questions/595808/is-it-possible-to-append-to-innerhtml-without-destroying-descendants-event-list
                div.insertAdjacentHTML('beforeend', postDiv);
            }
        }
    </script>
    <h1>Welcome <%= username %>!</h1>
    <h2>Subscriptions:</h2>
    <%
    for(const [topicName, posts] of Object.entries(postsDict)) {
    %>
    <h3><i>Topic: </i><%=topicName%></h3>
    <div id="<%=topicName%>">
    <%
        for(let i in posts) {
            if(i >= 3) {
                break;
            }
            let post = posts[i];
    %>
        <!-- https://stackoverflow.com/questions/1068647/how-do-i-create-tab-indenting-in-html -->
        <div style="line-height: .2; margin-left: 50px;">
            <h5><i>Post Title: </i><%=post.title%></h5>
            <p><i>Post text: </i><%=post.text%></p>
            <a href="/full_post/?topic=<%=topicName%>&post_id=<%=post._id%>" id="full_post_<%=post._id%>">See full posting</a>
            <h5>---</h5>
        </div>
    <%
        }
    %>
    </div>
    <a href="#" id="view_topic_<%=topicName%>" onclick="showAllPosts(<%=topicName%>)">Show More Posts for Topic: <%=topicName%></a>
    <%
    }
    %>
    <br>
    <a href="/create_post" id="createPostLink">Create New Post</a>
    <br>
    <a href="/edit_subscriptions" id="editSubscriptionsLink">Edit Subscriptions</a>
</html>