<html lang="en">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
        function showMore() {
            let initNumTopicsShowing = [<%=initNumTopicsShowing%>];
            let numTopicsShowing = [<%=initNumTopicsShowing%>];
            let numTopics = [<%=topics.length%>];
            // https://stackoverflow.com/questions/38179668/passing-an-array-from-ejs-to-javascript
            let topicsList = <%- JSON.stringify(topics) %>;
            // https://stackoverflow.com/questions/22493727/creating-a-read-more-link-that-extends-the-content-on-the-page
            let newNumTopicsShowing = numTopicsShowing[0] + initNumTopicsShowing[0];
            console.log('newNumTopicsShowing ' + numTopicsShowing[0])
            let allTopicsDiv = document.getElementById('all-topics');

            let br = document.createElement('br');
            for(let i = numTopicsShowing[0]; i < newNumTopicsShowing; i++) {
                if(i >= numTopics) {
                    break;
                }
                let currTopic = topicsList[i];
                let newCheckbox = document.createElement('input');
                newCheckbox.type = 'checkbox';
                newCheckbox.id = 'checkbox-' + i.toString();
                newCheckbox.name = currTopic;
                newCheckbox.value = currTopic;
                let newTopicLabel = document.createElement('label');
                newTopicLabel.id = 'topic-' + i.toString();
                newTopicLabel.htmlFor = 'checkbox-' + i.toString();
                newTopicLabel.innerHTML = currTopic;
                console.log(newCheckbox)
                console.log(newTopicLabel)
                console.log('topicsList[i]; = ' + currTopic)
                allTopicsDiv.appendChild(newCheckbox);
                allTopicsDiv.appendChild(newTopicLabel);
                allTopicsDiv.appendChild(br);
            }
            if(newNumTopicsShowing >= numTopics) {
                document.getElementById('showMoreLink').remove();
            }
        }
    </script>
    <body>
        <h1>Create an Account on ISAT Twitter</h1>
        <form action="/subscribe" method="POST">
            <!--https://stackoverflow.com/questions/4309950/how-to-align-input-forms-in-html-->
            <p>
                <label for="username">Desired User Name:</label>
                <input id="username" name="username" type="text" value="">
            </p>
            <p>Select topics to subscribe to:</p>
            <div id="all-topics">
            <!-- https://www.geeksforgeeks.org/use-ejs-as-template-engine-in-node-js/ -->
            <%
            let numTopics = topics.length;
            for(let i in topics) {
                let item = topics[i];
                if(i < initNumTopicsShowing) {
            %>
                <!-- https://www.w3schools.com/tags/att_input_type_checkbox.asp -->
                <input type="checkbox" id="checkbox-<%=i%>" name="<%=item%>" value="<%=item%>">
                <label id="topic-<%=i%>" for="checkbox-<%=i%>"><%=item%></label>
                <br>
            <%
                }
            }
            %>
            </div>
            <%
            if(numTopics !== initNumTopicsShowing) {
            %>
            <!-- https://stackoverflow.com/questions/22493727/creating-a-read-more-link-that-extends-the-content-on-the-page -->
            <a href="#" onclick="showMore()" id="showMoreLink">Show More</a>
            <%
            }
            %>
            <p>
                <input type="submit">
            </p>
            <p id="instructions" style="color:red;"><%= instructions %></p>
        </form>
    </body>
</html>