<html lang="en">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
        function showAllPosts(topic) {
            // TODO: implement
        }
    </script>
    <h1>Welcome <%= username %>!</h1>
    <p>Subscriptions:</p>
    <%
    for(const [topicName, posts] of Object.entries(postsDict)) {
    %>
    <h3><i>Topic: </i><%=topicName%></h3>
    <%
        for(let i in posts) {
            if(i >= 3) {
                break;
            }
            let post = posts[i];
    %>
    <h5>---</h5>
    <h5><i>Post Title: </i><%=post.title%></h5>
    <p><i>Post text: </i><%=post.text%></p>
    <a href="/full_post/?topic=<%=topicName%>&post_id=<%=post._id%>" id="full_post_<%=post._id%>">See full posting</a>
    <h5>---</h5>
    <%
        }
    %>
    <br>
    <a href="#" id="view_topic_<%=topicName%>" onclick="showAllPosts(<%=posts%>)">Show More Posts for Topic: <%=topicName%></a>
    <%
    }
    %>
    <br>
    <a href="/create_post" id="createPostLink">Create New Post</a>
    <br>
    <a href="/edit_subscriptions" id="editSubscriptionsLink">Edit Subscriptions</a>
</html>